<main layout:decorator="admin/base">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>微信用户信息</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>昵称</th>
                                    <th>头像</th>
                                    <th>open id</th>
                                    <th>订阅</th>
                                    <th>国家</th>
                                    <th>省份</th>
                                    <th>城市</th>
                                    <th>订阅时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">id</td>
                                    <td th:text="${user.nickname}">id</td>
                                    <td><img width="25px" height="25px" th:src="${user.headImgUrl}"/></td>
                                    <td th:text="${user.openId}"></td>
                                    <td th:text="${user.subscribe}"></td>
                                    <td th:text="${user.country}"></td>
                                    <td th:text="${user.province}"></td>
                                    <td th:text="${user.city}"></td>
                                    <td th:text="${#dates.format(user.subscribeTime*1000L, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>